<h1>Stupid Coaching</h1>
<form action="???">
  <label for=""><h3>Ask your stupid coach anything</h3></label>
  <input type="text" name="???" class="form-control">
  <input type="submit" value="Ask!" class="form-control">
</form>

