<div class="container text-center">
  <h1>Stupid Coaching</h1>
  <h4>Ask your stupid coach anything</h4>
  <form action="<%= answer_path %>" class="form-inline">
    <input type="text" name="user_input" class="form-control" id="user_input">
    <input type="submit" value="Ask!" class="btn btn-info form-control">
  </form>
</div>
